---
import Codebox, { type CodeboxProps } from "@/components/preact/custom/codebox";
import { Loading } from "@konj-org/preact-ui";

export interface Props extends CodeboxProps {
  minHeight?: string;
};

const { minHeight = '70vh', ...props } = Astro.props;
---

<div 
  data-codebox-wrapper 
  data-visible="true"
  style={`--min-height:${minHeight};`}
  class={[
    "min-h-[var(--min-height)]",
    "relative",
    "[&[data-visible=false]_*[data-loading-indicator]]:!hidden",
  ].join(" ")}
>
  <Loading data-loading-indicator className="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[51]" />
  <Codebox {...props} client:only="preact" />
</div>