---
---
<div 
  class={[
    "flex",
    "z-10",
    "text-black",
    "justify-center",
    "items-center",
    "content-center",
    "flex-col",
    "min-h-[70vh]",
    "md:min-h-[60vh]",
    "pb-[3rem]",
    "md:pb-32",
    "bg-primary-300",
    "[box-shadow:_0_-20vh_0_0_theme(colors.primary.300)]"
  ].join(" ")}
>
  <slot />
</div>