---
import { ArrowTopRightOnSquareIcon } from "@heroicons/react/24/solid";
import { twMerge } from "tailwind-merge";

interface Props {
  className?: string;
  href?: string;
  title: string;
}

const { className = "", title, href } = Astro.props;

---
<div 
  class={
    twMerge(
      className, 
      [
        "flex",
        "flex-col",
        "first:mt-4",
        "md:first:mt-0",
        "border-b",
        "last:border-b-0",
        "md:border-b-0",
        "border-neutral-200",
        "dark:border-neutral-800"
      ]
    )
  }
>
  <div class="flex justify-between items-center mb-4">
    <span class="opacity-60 font-light font-mono">
      { title.toUpperCase().replaceAll(" ", "-") }
    </span>
    {
      href && 
        <a 
          href={href} 
          class={[
            "w-fit",
            "block",
            "text-xs",
            "opacity-60",
            "no-underline",
            "p-2",
            "rounded-lg",
            "md:px-3",
            "md:py-1",
            "font-light",
            "md:rounded-2xl",
            "transition-colors",
            "bg-neutral-200",
            "dark:bg-neutral-800",
            "hover:bg-neutral-300",
            "hover:dark:bg-neutral-700"
        ].join(" ")}
        >
        <span class="hidden md:block">
          View Component
        </span>
        <ArrowTopRightOnSquareIcon className="block md:hidden w-3 h-3" />
      </a>
    }
  </div>
  <div 
    class={
      [
        "grow",
        "md:rounded-3xl",
        "md:border",
        "border-neutral-200",
        "dark:border-neutral-800",
        "md:bg-neutral-100/80",
        "md:dark:bg-neutral-900/80",
        "md:hover:bg-neutral-100",
        "md:hover:dark:bg-neutral-900",
        "transition-[colors,transform,box-shadow]",
        "hover:scale-[102%]",
        "duration-200",
        "py-8",
        "md:px-8",
        "md:py-8",
        "flex",
        "flex-col",
        "justify-center relative", 
        "md:shadow-lg",
        "md:hover:shadow-xl",
        "md:shadow-neutral-900/5",
        "md:hover:shadow-primary-500/md:shadow-neutral-900/5",
        "md:dark:shadow-none",
      ].join(" ")
    }
  >
    <slot />
  </div>
</div>