---
import "@/styles/global.css"
---
<html data-color-scheme="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Konj UI</title>
	</head>
	<body class="prose max-w-6xl mx-auto p-8 md:p-0 md:py-10">
		<h1 class="text-primary-300">Konj UI</h1>
	</body>
</html>
