---
// Astro Components
import Page from "@/components/astro/page.astro";
import ComponentPresentation from "@/components/astro/component-presentation.astro";

// Icons
import IconLight from "@/../public/ICON-LIGHT.svg?raw";
---
<Page>
	<main class="prose dark:prose-invert max-w-none pb-48">
		<div class="flex z-10 text-black justify-center items-center content-center flex-col min-h-[70vh] md:min-h-[60vh] pb-[3rem] md:pb-32 bg-primary-300 [box-shadow:_0_-20vh_0_0_theme(colors.primary.300)]">
			<div aria-label="Konj UI Logo" class="[&_svg]:w-48 [&_svg]:h-48" set:html={IconLight} />
			<h1 aria-readonly class="mb-2 text-6xl text-inherit">Konj UI</h1>
			<p class="text-xl mt-2">
				The Next-Gen Component Library 
			</p>
		</div>
		<div class="max-w-5xl mx-auto pt-0 p-8 md:p-0 md:pb-10">
			<ComponentPresentation />
		</div>
	</main>
</Page>
